<div local-class="root">
  <div class="media">
    <div local-class="card">
      <JubileeSelect
        @items={{@model}}
        @selectedItem={{this.selectedStop}}
        @onChange={{fn this.selectedStopChanged}} as |stop|
      >
        {{stop.name}}
      </JubileeSelect>
      {{#each this.stopEvents as |stopEvent|}}
        {{stopEvent.comment}}
        <br>
      {{/each}}
    </div>
  </div>
</div>